<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h2 class="section-heading">ABOUT</h2>
                <hr class="left">
                <p class="text-faded">Name : 황현중 <br/> Cellphone : 010-3137-4219 <br/> Email : hhjoong@gmail.com <br/> Location : seoul</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
