<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">프로젝트 문의</h2>
              <hr class="primary">
              <p>프로젝트 궁금증, 문의사항은 아래 메일로 연락 부탁 드리겠습니다!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://facebook.com/{{ site.facebook_username }}">
              <i class="fa fa-facebook fa-fw"></i>
              <p>{{ site.facebook_username}}</p>
            </a>
        </div>

        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p>{{ site.github_username }}</p>
            </a>
        </div>
    </div>
</section>
