<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WORK</h2>
                <hr class="light left">
            </div>
        </div>
    </div>
    <div class="container">
      <p class="text-faded">
        2022년01월 이트론 VM웨어 안드로이드 서비스 유지보수<br/>

        2019년07월 ~ 2021년09월 넷매니아 연구소 근무<br/>
        2021년05월 체크로드앱 안드로이드 리팩토링 작업<br/>
        - ble, gps, camera 기능 모듈화<br/>
        - 엑셀저장 작업<br/>
        - 구글 플레이스토어 등록<br/>
        2019년07월 체크로드앱 유지보수<br/>

        2014년07월 ~ 2019년07월 통합콜 전산실 근무<br/>
        2019년01월 통합콜 배송접수 IOS앱 제작<br/>
        2017년12월 통합콜 도와도 IOS앱 유지보수<br/>
        2017년12월 통합콜 도와도 안드로이드앱 유지보수<br/>
        2016년03월 통합콜 배송접수 안드로이드앱 유지보수<br/>
        2014년07월 통합콜 배송접수 윈도우 프로그램 유지보수(AS3 Flex)<br/>

        2011년03월 ~ 2014년06월 제오젠 디지털미디어팀 근무<br/>
        2014년04월	르노삼성 프로모션 사이트 플래시 개발(SM3 Neo 관상이벤트)<br/>
        2013년10월	국토교통부	척척서비스 아이폰 어플리케이션 개발<br/>
        2013년10월	LG 갤러리, 알람 위젯 개발<br/>
        2013년10월	현대그룹 키즈현대 플래시게임 개발(2종)<br/>
        2013년10월	현대그룹 키즈현대 사이트 플레이어 개발(스트리밍)<br/>
        2013년03월	르노삼성 프로모션 사이트 플래시 개발(보증합니다 이벤트)<br/>
        2012년11월	현대그룹 IOS 어플리케이션 개발(모터스라인)<br/>
        2012년11월	현대그룹 Air for android 어플리케이션 개발(모터스라인)<br/>
        2012년10월	현대그룹 포털사이트 개편 플래시 작업<br/>
        2012년10월	제오젠 게임 Air for android 게임 어플리케이션 개발 (2종)<br/>
        2012년09월	알펜시아리조트	플래시 유지보수<br/>
        2012년05월	기아자동차 채용사이트	플래시 유지보수<br/>
        2012년05월	기아자동차 CINET 플래시 유지보수<br/>
        2012년04월	커리엔조이	플래시사이트 개발<br/>
        2012년03월	현대로템 사이트 플래시 개발<br/>
        2011년11월	제네시스 쿠페 프로모션 사이트 개발<br/>
        2011년10월	아이덴티티게임즈 사이트 플래시 개발<br/>
        2011년09월	로보카폴리	사이트 플래시 개발, 플래시게임 개발(4종)<br/>
        2011년08월	삼성 버블게임 Air for ios 어플리케이션개발<br/>
        2011년07월	삼성 버블게임 Air for android 어플리케이션 개발<br/>
        2011년06월	제네시스 프라다	프로모션 사이트 개발<br/>
        2011년03월	글로비스 플래시 유지보수<br/>
        2011년03월	현대모비스존 플래시 유지보수<br/>
        2011년03월	어린이재단	플래시 유지보수<br/>
        2011년03월	기아자동차 영문	플래시 유지보수<br/>
        2011년03월	기아자동차 국문	플래시 유지보수<br/>
        2011년03월	기아자동차 글로벌 플래시 유지보수<br/>

        2010년10월 ~ 2011년03월 그라운드제로 웹서비스개발팀 근무<br/>
        2010년12월	스타일핏팅 안드로이드앱 개발<br/>
        2010년10월	스타일핏팅시스템 개발<br/>

        2008년11월 ~ 2010년08월 미니게이트 플래시 개발팀 근무<br/>
        2010년07월 KT OCP 메모위젯 신규개발<br/>
        2010년05월	KT Style폰	런처 유지보수<br/>
        2010년03월	자사 시연용 IPTV런처개발<br/>
        2009년12월	KT QookInternet 가베위젯개발<br/>
        2009년11월	KT QookInternet 런처개발<br/>
        2009년10월	KT Style폰	가베위젯개발<br/>
        2009년10월	두산위브 브랜드 사이트<br/>
        2009년07월	엘지 White Shortcut, SimLock, Soffkey<br/>
        2009년05월	엘지 White Browser, Multitasking<br/>
        2009년01월	엘지 White 공통팝업22종, 락스크린2종<br/>
        2008년12월	엘지 Thoth 메뉴 리사이징및 유지보수<br/>
        2008년12월	엘지 Thoth 명언월페이퍼 월페이퍼 신규개발<br/>

        2008년06월 ~ 2008년10월 아토프리아 플래시 개발팀 근무<br/>
        2008년06월	엠앤소프트 내비게이션 지니	내비게이션 지니 리사이징 및 유지보수<br/>
        2008년10월	삼성 모바일 UK 튜토리얼 M-3510 마이크로사이트 개발<br/>

        2007년01월 ~ 2008년05월 (주)에이티미디어 플래시 개발팀 근무<br/>
        2008년04월	세븐벨리	세븐벨리 프로모션<br/>
        2008년01월	유퍼스트	유퍼스트 프로모션<br/>
        2007년12월	안정 현대 성우 오스타	현대 성우 오스타 프로모션<br/>
        2007년11월	동원 베네스트	동원 베네스트 프로모션<br/>
        2007년09월	중앙교육 컨텐츠	중앙교육 이러닝 컨텐츠 개발<br/>
        2007년06월	플래시스튜디오	브랜드 사이트<br/>
        2007년03월	이다 커뮤니케이션즈	브랜드 사이트
        </p>
        <!-- <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update dependencies to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div>
        </div> -->
    </div>
</section>
